# Server Config
PORT=5000
NODE_ENV=development

# Database Config
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.435qdgm.mongodb.net/sweetshop?appName=Cluster0

# Security
JWT_SECRET=your_super_secret_jwt_key_here
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Payments Integration
RAZORPAY_KEY_ID=rzp_test_yourkeyid
RAZORPAY_SECRET=yourrazorpaysecrethash

# Media Uploads Cloudinary
CLOUDINARY_CLOUD_NAME=yoursweetshopcloudname
CLOUDINARY_API_KEY=yourcloudinaryapikey
CLOUDINARY_API_SECRET=yourcloudinaryapisecrethash
